@media (min-width: 1025px) {
  #accountconfig {
    display: flex;
  }
}

#background > img {
  display: inherit;
}
@media (max-width: 1024px) {
  #background {
    display: none;
  }
}
@media (min-width: 1025px) {
  #background > img {
    height: 100vh;
  }
}
